doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Gulp boilerplate
    link(rel='stylesheet' href='./css/main.css')


.wrapper
    .wrapper__logo
        span Gulp
        |  boilerplate by Chernyshov Max
    .wrapper__icon
        img(src='./img/shuttle.png' alt='Lets`go')
    .wrapper__text Это строка скомпилирована из Pug


script(src='./js/main.js')
