*
  box-sizing border-box

body, html
  margin 0
  padding 0
  width 100%
  height 100%
  font-family Arial, Helvetica, Verdana
  font-size 14px
  display flex
  flex-direction column


.container
  width 90%
  max-width 1120px
  margin 0 auto



@import "includes/header.styl"
@import "includes/footer.styl"


