header.header {
  padding: 1em 0;
}
header.header .container .header__logo.logo .logo__link {
  font-size: 1.5em;
}
header.header .container .header__logo.logo .logo__link a {
  color: rgba(0,0,0,0.9);
  text-decoration: none;
}
header.header .container .header__logo.logo .logo__link a span {
  color: #f00;
}
