* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body,
html {
  background-color: #fff;
  width: 100%;
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative; }
  .wrapper__logo {
    position: absolute;
    width: 220px;
    font-family: Arial, Helvetica, sans-serif, serif;
    font-size: 12px;
    font-weight: bold;
    top: 100%;
    margin-left: -110px;
    margin-top: -150px;
    left: 50%;
    margin-left: -110px;
    text-align: center;
    color: #2e2e2e;
    opacity: 0.6; }
    .wrapper__logo span {
      color: #ff5e5e; }
  .wrapper__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    z-index: 999; }
    .wrapper__icon img {
      width: 100%;
      height: auto;
      opacity: 0.6; }
  .wrapper__text {
    font-size: 0.8em;
    position: fixed;
    top: 1em;
    left: 1em;
    font-family: Arial, Helvetica, sans-serif, serif;
    color: gray; }
