header.header
  padding 1em 0

  .container
    .header__logo.logo
      .logo__link
        font-size 1.5em

        a
          color rgba(black, 0.9)
          text-decoration none

          span
            color red