<!-- ./src/index.html -->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %> by Chernyshov Max</title>
  </head>
  <body class="body">
    <header class="header bg-green-900 py-6">
      <div class="container mx-auto flex justify-between">
        <div class="logo">
          <a href="/">
            <img class="w-8 rounded" src="./img/shuttle.png" alt="<%= htmlWebpackPlugin.options.title %>">
          </a>
        </div>
      </div>
    </header>
  </body>
</html>